@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
* {
	margin: 0;
	padding: 0;
}
html, body {
	/*overflow: hidden;*/
}
.sections {
	display: flex;
	flex-direction: row;
	width: 300vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
}
.section {
	width: 100vw;
	height: 100vh;
	text-align: center;
	justify-content: center;
	font-family: 'Roboto Mono', monospace;
}

.section h1 {
	font-size: 40px;
	line-height: 100vh;
	color: white;
}
.section:nth-child(1) {
	background-color: purple;
}
.section:nth-child(2) {
	background-color: green;
}
.section:nth-child(3) {
	background-color: gray;
}
.container {
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}